@import "../constants/breakpoints";
@import "../constants/axis";
@import "Arrows";
@import "Delimitors";
@import "PostIt";


#Matrix{
    @include for-phone-only{
        width: 95%;
    }
    @include for-tablet-portrait-up{
        width: 90%;
    }
    @include for-tablet-landscape-up{
        width: 80%;
    }
    @include for-desktop-up{
        width:70%;
    }
    position: relative;
    margin-top: 2*$labelSize;
    margin-bottom: 2*$labelSize;
}

