@mixin for-phone-only {
    @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
    @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
    @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
    @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
    @media (min-width: 1800px) { @content; }
}
  

#root, .app, body, html {
    height:100%;
}
 
.app{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

#PostItBlocks{
    display: flex;
    flex-wrap: wrap;
    width:70%;
    justify-content: center;
    flex-direction: row-reverse;
}

.PostItBlock{
    display: flex;
    margin: 2%;
    border: 10px solid transparent;
    border-image: url(../../images/Border.png) stretch;
    background-clip: padding-box;
}

.PostItBlock:after{
    content: "";
    display: block; 
    @include for-phone-only {
        padding-bottom: 50%;
    }
    @include for-tablet-portrait-up{
        padding-bottom: 100%;
    }
}


.PostItBlock input{
    border-radius:0;
    border:0;
    text-align: center;
    width: 100%;
    height: 100%;
}

.PostItBlock *{
    background: rgba(0,0,0,0);
}

.PostItBlock input:focus{
    outline: none;
}

#URGENT_IMPORTANT{
    background-color: #fabcbc;
}

#N_URGENT_IMPORTANT{

    background-color: #fbfba4;

}

#URGENT_N_IMPORTANT{

    background-color: #74cbc3;

}

#N_URGENT_N_IMPORTANT{

    background-color: #cbe3d3;

}