@mixin for-phone-only {
    @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
    @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
    @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
    @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
    @media (min-width: 1800px) { @content; }
}
  

#root, .app, body, html {
    height:100%;
    background: linear-gradient(to top right, rgb(240,240,240), rgb(250,250,250));
    margin:0;
}
 
.app{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

#PostItBlocks{
    display: flex;
    flex-wrap: wrap;
    width:70%;
    justify-content: space-around;
    align-content: space-around;
    flex-direction: row-reverse;
    margin-bottom: 2%;
}

.PostItBlock{
    display: flex;
    box-shadow: 0px 0px 7px rgba(100,100,100,0.5);
    transition: transform 1s;
    transform-origin: bottom;
    margin: 2% 0 2% 0;
}

.PostItBlock:after{
    content: "";
    display: block; 
    @include for-phone-only {
        padding-bottom: 50%;
    }
    @include for-tablet-portrait-up{
        padding-bottom: 100%;
    }
}


.PostItBlock input{
    border-radius:0;
    border:0;
    text-align: center;
    width: 100%;
    height: 100%;
    padding:0; 
    font-family: 'Bad Script';
}

.PostItBlock:hover{
    transform: scale(1.4);
}


.PostItBlock *{
    background: rgba(0,0,0,0);
}

.PostItBlock input:focus{
    outline: none;
}

#URGENT_IMPORTANT{
    background-color: #fabcbc;
}

#N_URGENT_IMPORTANT{

    background-color: #FFF9A5;

}

#URGENT_N_IMPORTANT{

    background-color: #74cbc3;

}

#N_URGENT_N_IMPORTANT{

    background-color: #cbe3d3;

}