@import "breakpoints";
@import "colorScheme";
@import "Arrows";
@import "Delimitors";
@import "PostIt";

$arrowSize: 0.5em;
$axisSize: 0.15em;
$axisColor: #5353C1;
$labelSize: 1em;

#Matrix{
    @include for-phone-only{
        width: 95%;
    }
    @include for-tablet-portrait-up{
        width: 90%;
    }
    @include for-tablet-landscape-up{
        width: 80%;
    }
    @include for-desktop-up{
        width:70%;
    }
    position: relative;
    margin-top: 2*$labelSize;
    margin-bottom: 2*$labelSize;
}

