@import "breakpoints";
@import "colorScheme";

#PostItBlocks{
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    
    @include for-phone-only{
        width: 90%;
    }
    @include for-tablet-portrait-up{
        width:90%;
    }
    @include for-desktop-up{
        width:50%;
    }
    
    margin: 0 0 1em 0;
    justify-content: space-around;
    align-content: space-between;
    flex-direction: row-reverse;
}

.PostItBlock{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    transition: transform 1s;
    z-index: 3;
    @include for-phone-only{
        transform-origin: top;
        width: 40%;
    }
    @include for-tablet-portrait-up{
        transform-origin: top;
        width: 20%;
    }
    @include for-desktop-up{
        transform-origin: bottom;
        font-size:2em;
    }
    margin: 2% 0% 2% 0%;
}

.PostItBlock .shadow{
    position: absolute;
    width: 98%;
    height: 98%;
    right:0;
    bottom:0;
    z-index: 1;
    $bs: ();
    $blur: ();
    @for $i from 1 through 50 {
        $bs : $bs , $i*0.004em $i*0.004em rgba(228,228,228,0.7);
    }
    box-shadow: $bs;
}

.PostItBlock .light{
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background: linear-gradient(to top left,  rgb(230,230,230), rgb(255,255,255));
    mix-blend-mode: multiply;
}

.PostItBlock .texture{
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background-image: url(../../images/paper.png);
    background-repeat: repeat;
    background-size: 50%;
    mix-blend-mode: multiply;
}


.PostItBlock:after{
    content: "";
    display: block; 
    z-index: 3;
    display: block;
    opacity: 0.3;
    @include for-phone-only {
        padding-bottom: 50%;
    }
    @include for-tablet-portrait-up{
        padding-bottom: 50%;
    }
    @include for-tablet-landscape-up{
        padding-bottom: 30%;
    }
    @include for-desktop-up{
        padding-bottom: 100%;
    }
}

.PostItBlock input{
    border-radius:0;
    border:0;
    text-align: center;
    width: 100%;
    height: 100%;
    padding:0; 
    font-family: 'Bad Script';
    font-size: 0.65em;
    z-index: 2;
}

.PostItBlock:hover{
    transform: scale(1.2);
}


.PostItBlock *{
    background: rgba(0,0,0,0); 
}

.PostItBlock input:focus{
    outline: none;
}

#URGENT_IMPORTANT{
    background-color: $URGENT_IMPORTANT;
}

#N_URGENT_IMPORTANT{

    background-color: $N_URGENT_IMPORTANT;

}

#URGENT_N_IMPORTANT{

    background-color: $URGENT_N_IMPORTANT;

}

#N_URGENT_N_IMPORTANT{

    background-color: $N_URGENT_N_IMPORTANT;

}